@media (max-width: 480px){
  body{font-size: 14px;
  /*background-color: grey;*/
  background-color: #79b9ff;
  margin: 10px;
  font-family: 'josefin sans'; 
  list-style: color=white;  }
}
@media (min-width: 481px) and (max-width: 768px){
  body {font-size: 16px;
    /*background-color: teal;*/
    background-color: #79b9ff;
    margin: 10px;
    font-family: 'josefin sans'; 
    list-style: color=white;  }
  
}
@media (min-width: 769px){
  body {font-size: 20px;
      background-color:#79b9ff; 
      margin: 10px;
      font-family: 'josefin sans'; 
      list-style: color=white;  
    }
}

.hicat:hover {
  transform: skewX(-5deg); 
}

a:hover {
  color: #b8fdfe;
}

.required::after {
  content: "*";
  color: red;   
}

.COCO {
  color: white;
}

.COCO:hover {
  color: #5d5d95; 
  font-weight: bold;
}

.COCO:visited {
  color: #4f4f55;
}



  table {
    margin: auto;
    border-spacing: 0px;
    background-color: antiquewhite;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    width:fit-content;
    color: #0b2f57;
    border: 1px solid #0b2f57; 

  }
  th{
    border: 0.5px solid #0b2f57;
    width: auto;
    background-color: rgb(10, 122, 122);
    color: white;
    padding: 8px;
    text-align: center;
  }
    td {
       border: 0.5px solid #0b2f57;
        text-align: center;
        padding: 8px;
        width: auto;
    }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
  }

.flex-container img:hover {
  animation-name: spin;
  animation-duration: 5s;
}

  @keyframes spin {
    0% {transform: rotate(0deg);}
    50% {border-radius: 50%;}
    100% {transform: rotate(360deg);
    border-radius: 75%;
    }
  }

  .rectangle-grid
  {display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    width: 100%;
    margin: auto;
  }
  .rectangle { 
    height: 300px;
    width: auto;
    transition-property: radius;
    transition-duration: 2s;
    transition-timing-function: ease-in;
  }
  .rectangle:hover {
    border-radius: 50%;
  }
  .lb{
    background-color: #0e4f95;
  }
  .blue{
    background-color: #79b9ff;
  }


